<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="description" content="TwilioQuest starter code">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to the Java Guild!</title>

    <!-- A little CSS to make our page prettier -->
    <link href="//fonts.googleapis.com/css?family=Press+Start+2P"
          rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/app.css"/>
    <link rel="icon" type="image/png" href="/img/favicon.png">

    <!-- Include jQuery to help us with some UI stuff -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
</head>
<body>
<!-- A simple UI to test our Twilio back end -->
<div id="content">

    <div id="flash" style="display:none;">
        <p><span id="flash-message"></span> <a href="#">Close</a></p>
    </div>

    <h3>Spark/Twilio/Cognito</h3>
    <br/>
    <ul id="tabs">
        <li id="signUp" class="current">Sign Up</li>
        <li id="initiateAuth">Auth Login</li>
        <li id="refreshToken">Token Refresh</li>
        <li id="createPost">Create Post</li>
    </ul>
    <form>
        <p>User Pool Id:</p>
        <input id="userPoolId" type="text" required/>
        <p>User Pool Client Id:</p>
        <input id="clientId" type="text" required/>
        <p>Phone number:</p>
        <input id="phone" type="text" placeholder="ex: +123456789" th:value="${phone}" required/>
        <p class="username">Username:</p>
        <input class="username" id="username" type="text" placeholder="ex: Hiro" value="Hiro" required/>
        <p class="refreshToken">RefreshToken:</p>
        <input class="refreshToken" id="postRefreshToken" type="text" value=""/>
        <p>Ticket Id:</p>
        <input class="createPost" id="ticketId" type="text" value="ticket-"/>
        <p>Original Post Id:</p>
        <input class="createPost" id="originalPostId" type="text"/>
        <p>Amount:</p>
        <input class="createPost" id="amount" type="number"/>
        <button>Execute auth login</button>
        <input th:type="text" id="accessTokenSent" hidden>
    </form>
    <div id="authResult">
        <p>AccessToken:</p>
        <input th:type="text" id="accessToken">
        <p>RefreshToken:</p>
        <input th:type="text" id="refreshedToken">
        <p>CreatePost:</p>
        <input th:type="text" id="postId">
    </div>
</div>
<div id="footer">
    <input th:type="text" placeholder="For memo" id="lastPhoneNumber">
</div>

<!-- Some dirty JavaScript to help drive our UI -->
<script src="/js/ui.js"></script>
<!-- Some ajax magic to hit our back end and make calls/send messages -->
<script src="/js/form.js"></script>
</body>
</html>